<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="contact-card">

     <ion-card-header>
      <ion-card-title>Get in Touch</ion-card-title>
      <ion-card-subtitle>We'd love to hear from you!</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

    <ion-list lines="none">
        <ion-item>
          <ion-icon slot="start" name="call-outline"></ion-icon>
          <ion-label>
            <h2>Phone</h2>
            <p><a href="tel:+353870340339">+353 870 340 339</a></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="mail-outline"></ion-icon>
          <ion-label>
            <h2>Email</h2>
            <p><a href="mailto:waiyanphyo830@gmail.com">info@myrestaurant.com</a></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="location-outline"></ion-icon>
          <ion-label>
            <h2>Address</h2>
            <p>123 Main Street, Dublin 02, Dublin, Ireland</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="time-outline"></ion-icon>
          <ion-label>
            <h2>Hours</h2>
            <p>Mon-Sat: 11 AM - 10 PM</p>
            <p>Sunday: 12 PM - 9 PM</p>
          </ion-label>
        </ion-item>
    </ion-list>
 


    <ion-button expand="block" color="primary" (click)="getCurrentLocation()">
        <ion-icon slot="start" name="navigate-outline"></ion-icon>
        Show My Location
      </ion-button>

      <ion-card *ngIf="latitude && longitude" class="map-card">
        <ion-card-header>
          <ion-card-title>Restaurant Location</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Latitude: {{ latitude | number:'1.4-4' }}</p>
          <p>Longitude: {{ longitude | number:'1.4-4' }}</p>
          <p class="map-note">
            (This is currently a placeholder for a map. In the full version of the app, Sir, I will integrate with Google Map.)
          </p>
          <ion-button expand="block" fill="outline" (click)="openGoogleMaps()">
            <ion-icon slot="start" name="map-outline"></ion-icon>
            Open in Google Maps
          </ion-button>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="locationError" class="error-card">
        <ion-card-content>
          <ion-icon name="warning-outline" color="danger"></ion-icon>
          <p>{{ locationError }}</p>
          <p>Please ensure location services are enabled for the app.</p>
        </ion-card-content>
      </ion-card>


    </ion-card-content>
  </ion-card>
</ion-content>